body {
  background-color: #F4F4F4;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}



.app-wrapper {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
  height: 90vh;
  overflow: hidden;
}

.map-section {
  flex: 0 1 500px; /* grow:0, shrink:1, basis:300px */
  max-width: 400px;
  min-width: 200px; /* skydda mot för liten */
}

.content-section {
  flex: 2;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 3rem auto 3rem; 
  width: 60%;               
  box-sizing: border-box;
}

.search-bar input {
  flex: 1;
  font-size: 32px;
  padding: 1.1rem 1.6rem;
  border: 0px solid #D9D9D9;
  border-radius: 40px 0 0 40px;

  background-color: #D9D9D9;
  color: #544747;
  transition: border 0.2s ease;
}

.search-bar input:focus {
  outline: none;
  border: 1px solid #3399ff;
  background-color: #D9D9D9;
}

.search-bar button {
  padding: 1.1rem 1.6rem;
  background: #D9D9D9;
  border: 0px solid #D9D9D9;
  border-left: none;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  font-size: 32px;
}

.rules-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rule-card {
  background: #BDDBFF;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 24px;
  border-color: #B2B2B2;
  border-width: 1.8px;
  border-style: solid;
}

.rule-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rule-column {
  flex: 1;
  min-width: 150px;
  gap:1rem;
  display: flex;
  flex-direction: column;
}

.small-rule-column {
  min-width: 100px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.rule-column p {
  color: #322F35;
  font-size: 24px;
  margin: 0;
}


.rule-buttons-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
}

.rule-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 0.3rem;
}

.rule-btn {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size:14px;
}

.red-btn {
  background: #DA1212;
}

.purple-btn {
  background: #8B34E9;
}

.blue-btn {
  background: #207BDB;
}

.gray-btn {
  background: #A9A9A9;
}

.rule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.scroll-area {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  margin: 5px;
  padding:10px;
  box-sizing: border-box;
}

.scroll-area::-webkit-scrollbar {
  width: 12px;
}

.scroll-area::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 6px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 6px;
  border: 2px solid #e0e0e0;
}


.fixed-footer {
  background-color: #f5f5f5;
  height: 100px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  border-top: 1px solid #ccc;
  bottom: 60px;

}


